#ctx {
  margin: 0 auto;
  margin-top: 170px;
  background-image: url("images/grass.png");
  background-size: cover;
  width: inherit;
  display: block;
  cursor: none;
}

body {
  background-image: url("images/chabackground.png");
  background-size: cover;
}

#instruct {
  font-family: 'Press Start 2P', cursive;
  width: 300px;
  position: absolute;
  left: 510px;
  top: 110px;
  color: yellow;
  font-size: 22px;
  text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue
}

#play {
  font-family: 'Press Start 2P', cursive;
  width: 600px;
  height: 800px;
  position: fixed;
  left: 320px;
  top: 90px;
  background-color: rgba(0, 0, 0, 0.7);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  padding: 20px;
  /*display: none;*/
}

#waterwarn {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 230px;
  position: fixed;
  left: 295px;
  top: 250px;
  background-color: rgba(0, 0, 0, 0.8);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

#psychicwarn {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 280px;
  position: fixed;
  left: 295px;
  top: 250px;
  background-color: rgba(0, 0, 0, 0.8);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

#win {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 240px;
  position: fixed;
  left: 295px;
  top: 250px;
  background-color: rgba(0, 0, 0, 0.5);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

#death1 {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 230px;
  position: fixed;
  left: 295px;
  top: 250px;
  background-color: rgba(0, 0, 0, 0.8);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

#death2 {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 230px;
  position: fixed;
  left: 295px;
  top: 250px;
  background-color: rgba(0, 0, 0, 0.8);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

#evo {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 270px;
  position: fixed;
  left: 295px;
  top: 250px;
  background-color: rgba(0, 0, 0, 0.8);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

#mega {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 230px;
  position: fixed;
  left: 295px;
  top: 250px;
  background-color: rgba(0, 0, 0, 0.8);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

#mewBox {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 290px;
  position: fixed;
  left: 295px;
  top: 240px;
  background-color: rgba(0, 0, 0, 0.8);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

#mew151Box {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 330px;
  position: fixed;
  left: 295px;
  top: 200px;
  background-color: rgba(0, 0, 0, 0.8);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

#fieldBox {
  font-family: 'Press Start 2P', cursive;
  width: 650px;
  height: 320px;
  position: fixed;
  left: 295px;
  top: 200px;
  background-color: rgba(0, 0, 0, 0.8);;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  display: none;
  padding: 20px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.purple {
  color: rgb(250, 80, 208);
}

.violet {
  color: rgb(252, 216, 252);
}
